@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 700;
    src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Neucha';
    font-weight: 400;
    src: url('../assets/fonts/Neucha-Regular.ttf');
}

:root {
    --color-white: #fff;
    --color-translucent-white: #d7ccc0;
    --color-light: #f5f4f0;
    --color-basic: #fe8a02;
    --color-basic-hover: #EA7600; 
    --color-basic-dark: #42413c;
    --color-dark: #2a2626;
    --color-transluent-dark: #908d8b;
    --color-brown: #b09a81;
    --color-blue: #1085c5;
}

.m-0 {
    margin: 0;
}

.mt-185 {
    margin-top: 185px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-469 {
    margin-bottom: 369px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.pt-100 {
    padding-top: 100px;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.text-basic {
    color: var(--color-basic);
}

.text-dark {
    color: var(--color-dark);
}

.text-white {
    color: var(--color-white);
}

.text-brown {
    color: var(--color-brown);
}

.text-transluent-dark {
    color: var(--color-transluent-dark);
}

.text-translucent-white {
    color: var(--color-translucent-white);
}

.bg-light {
    background-color: var(--color-light);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-dark {
    background-color: var(--color-dark);
}

.bg-brown  {
    background-color: var(--color-brown);
}

.uppercase {
    text-transform: uppercase;
}

.shadow {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

body {
    font: 16px/1.6em 'OpenSans';
}

h1,
h2,
h3 {
    margin: 0;
    font: 72px/1.2em 'Neucha';

    color: var(--color-basic);
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 14px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
}

.btn-basic {
    background-color: var(--color-basic);
    color: var(--color-white);

    text-decoration: none;
}

.btn-basic:hover {
    background-color: var(--color-basic-hover);
}

.container {
    position: relative;
    
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;

    z-index: 1;
}

.header-btn {
    padding: 12px 24px;
    margin-top: 22px;
    margin-left: 570px;

    font-weight: bold;
}

.bg-image {
    position: relative;
}

.bg-image::before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.1;
}

.header-img {
    position: absolute;

    height: 525px;
    top: 55px;
    right: -270px;

    z-index: -1;
}

.header-item {
    flex: 1 1 0;
}

.video {
    position: absolute;
    left: 0;
    right: 0;

    margin: auto;
}

/* navigation section */
.title-nav {
    width: 350px;

    font: 52px/1.2em 'Neucha';
}

.card {
    padding: 24px;
    width: 350px;

    box-sizing: border-box;
}

.card-basic {
    text-decoration: none;
    
    background-color: var(--color-white);
    color: var(--color-dark);
}

.card .index-card {
    margin: 0 0 40px 0;

    font: 64px/1 'Neucha';
}

.card .description-card {
    margin: 16px 0 0 0;
}

.card:hover {
    background-color: var(--color-basic);
}

.card:hover * {
    color: var(--color-white);
}

/* main section */
.content-text {
    flex: 1 1 0;
}

.content-title {
    margin: 100px 0 20px 0;
    padding: 5px 10px;
}

.description-subtitle {
    margin: 0;

    font: 24px/1.2em 'Neucha'
}

.description-text {
    font: 34px/1.2em 'Neucha';
}